{% extends 'base.html' %}
{% load cloudinary %}

{% block content %}

<form action="" method='POST' enctype="multipart/form-data">
    <br>
    {% csrf_token %}

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Main image:</label>
        <div class="col-sm-10">
            {{p_form.main_image}}
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Description:</label>
        <div class="col-sm-10">
            {{p_form.description}}
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Images:</label>
        <div class="col-sm-10">
            {{i_form.images}}
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Tags:</label>
        <div class="col-sm-10">
            {{p_form.tags}}
        </div>
    </div>

    <div class="row mb-3">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>
{% endblock content %}
    