{% extends 'base.html' %}


{% block title %}
    Followers |
{% endblock %}

{% block content %}
<h1>Your followers</h1>
<div class="list-group">
    {% if followers|length == 0 %}
    <h4 style="color: red;">You don't have followers</h4>
    {% else %}
        {% for el in followers %}
            <a href="{% url 'network_life:profile' el.user %}" class="list-group-item list-group-item-action list-group-item-success">{{ el.user }}</a>
            <br>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}